.country{
    border: 2px solid black;
    margin: 12px;
    padding:12px;
    border-radius: 10px;
}

.button-visit{
    border: 2px solid black;
}

.visited {
    background-color: darkgray;
    color: black;
    font-weight: 400;
  }